<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wyman.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity android:name=".file.FirstActivity" >
        </activity>
        <activity android:name=".messenger.ThirdActivity" android:process=":client">

        </activity>
        <activity android:name=".file.SecondActivity" android:process="com.wyman.myapplication.remote"/>
        <activity android:name=".aidl.BookManagerActivity" >

        </activity>
        <activity android:name=".provider.ProviderActivity" >

        </activity>
        <activity android:name=".socket.TCPClientActivity" >

        </activity>
        <activity android:name=".animator.AnimatorTest" >

        </activity>
        <activity android:name=".window.WindowActivity" >

        </activity>
        <activity android:name=".grouplist.GroupActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".grouplist.GroupActivity2" android:launchMode="singleTask" />

        <service android:name=".messenger.MessengerService" android:process=":service"/>
        <service android:name=".aidl.BookManagerService" android:process=":remote"/>
        <service android:name=".socket.TCPServerService" android:process=":tcp"/>

        <provider
            android:authorities="com.wyman.myapplication.provider.BookProvider"
            android:name=".provider.BookProvider"
            android:permission="com.wyman.PROVIDER"
            android:process=":provider"/>
    </application>

</manifest>